 body {
            font-family: 'Poppins', sans-serif;
            margin: 50px auto;
            max-width: 500px;
            text-align: center;
            background-color: white;
            color: black;
            transition: all 0.5s ease;
        }

        button,
        select {
            padding: 10px 15px;
            font-size: 16px;
            margin: 10px;
            cursor: pointer;
            border: none;
            border-radius: 5px;
            transition: background-color 0.3s ease, transform 0.2s ease;
        }

        button:hover,
        select:hover {
            transform: scale(1.05);
        }

        img {
            width: 300px;
            height: auto;
            margin-top: 20px;
            transition: transform 0.5s ease;
        }

        .spin {
            animation: spin 1s linear;
        }

        @keyframes spin {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }

        .dark-mode {
            background-color: #121212;
            color: white;
        }

        .small-font {
            font-size: 14px;
        }

        .medium-font {
            font-size: 18px;
        }

        .large-font {
            font-size: 22px;
        }

        footer {
            margin-top: 20px;
            font-size: 15px;
            color: #ffff;
        }